[submodule "ios/submodules/apd-objc"]
	path = ios/submodules/apd-objc
	url = git@github.com:ApptitudeDigital/apd-objc.git
[submodule "ios/submodules/UIImageLoader"]
	path = ios/submodules/UIImageLoader
	url = git@github.com:gngrwzrd/UIImageLoader.git
