<html>
<body>
Hi {{ invitee_firstname }},<br/><br/>

{% if inviter.first_name %}
	{{ inviter.first_name }}
{% else %}
	Someone
{% endif %}
has invited you to participate in {{ board.title }}'s board in Smiles &amp; Frowns. Your unique invite code is {{ code }}.<br/><br/>

If you have Smiles &amp; Frowns installed copy this code, then tap <em>Enter Email Code</em> in the <em>Invites</em> section. Or if you are using Apple Mail <a href="snf://invite/{{ code }}">just click here</a>.<br/><br/>

Thanks!<br/>
S&amp;F Team.<br/><br/>
<a href="">Download Smiles &amp; Frowns</a> | <a href="">Don't know what this is?</a>
</body>
</html>